@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrrat', sans-serif;
    
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

h1 {
    color: #444;
}

h3 {
    color: #999;
}

.btn {
    background: #f05462;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    color: #f05462;
    background: white;
    padding: 3px 8px;
    border: 2px solid #f05462;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.side-menu {
    position: fixed;
    background: #fff;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.brand-name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-name img{
    width: 70%;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li {
    font-size: 20px;
    padding: 10px 40px;
    color: #7c8db5;
    display: flex;
    align-items: center;
    height: 70px;
    font-family: 'Montserrat',sans-serif;
}
.side-menu li a{
    color: #7c8db5;
}
.side-menu li .add{
    color: #fff;
}
.side-menu li a i{
    margin-right: 10px;
    margin-left: 10px;
}

.side-menu li:hover {
    
    color: #00C6BF;
}
.side-menu li a:hover{
    color: #00C6BF;

    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eaeaea;
   
    z-index: 1;
}

.container .header .nav {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}





.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.container .header .nav .user img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}
.container .header .nav .user p{
    color: #24252a;
    margin-right: 10px;
}

.container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f2f7ff;
    padding: 40px;
    
}

.container .content .center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.container .content .center canvas{
    max-width: 70%;
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
}

body .box{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.container .content .cards {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;

}
.container .content .container-laporan{
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.content .container-laporan .isi{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #435ebe;
    color: #f1f1f1;
    padding: 20px;
    width: 100%;
}
.content .container-laporan .isi-laporan .chart{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.content .container-laporan .isi-laporan .chart #myChart{

    margin-bottom: 20px;
}

.container .content .cards .laporan{
    background-color: white;
    width: 32%;
    display: flex;
    align-items: center;
    height: 100px;
    border-radius: 10px;
   
}
.container .content .cards .laporan div{
    color: #607080;
}
.laporan i{
    margin-left: 20px;
    margin-right: 20px;
}

.container .content .cards h3{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #24252a;
}
@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }

    .side-menu {
        align-items: center;
    }

    .side-menu li img {
        width: 40px;
        height: 40px;
    }

    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}

@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }

    .container .content .cards {
        justify-content: center;
    }

    .side-menu li img {
        width: 30px;
        height: 30px;
    }

    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}

/**add artikel */
.add{
    background-color: #558EF8;
    border-radius: 50px;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
}
.buat-artikel{
    background-color: #558EF8;
    border-radius: 50px;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    color: white !important;
}
.add:hover{
    color: #00C6BF;
    background-color: #ddd;
}

/**aktif saat digunakan */
.side-menu li .aktif{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color:#435ebe ;
    border-radius: 10px;
    color: #fff !important;
}
.aktif2 {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    color: #00C6BF;
    border-radius: 10px;
}

/**DROPDOWN */
#dropbtn {
    
 
    padding: 16px;
    border: none;
    cursor: pointer;
}

#dropbtn:hover,
.dropbtn:focus {
    color:  #2980B9;
}

.dropdown {
    color: #558EF8;
    position: relative;
    display: inline-block;
}
.dropdown a{
    color: #558EF8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.show {
    display: block;
}

/**MAIN KONTENT */
 /*berita terbaru box */
.main-content {
    background-color: #fff;

    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    height: 150px;
    
}
.main-content .nama-author{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding: 20px;
}

/*gambar untuk setiap berita */
.gambar-berita {
    width: 200px;
    height: 100%;
    padding: 5px;
}

.gambar-berita a img {
    height: 100%;
    border-radius: 20px;
    width: 100%;

}

/*berita= judul, kategori, waktu */
.berita {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 75%;
    padding: 20px;
}

.berita div {
    width: 100%;
}

.berita div h3 a {
    text-decoration: none;
    color: #607080;
}

.kategori-waktu {
    display: flex;
    justify-content: flex-start;
}

.kategori {
    padding-right: 10px;
    text-decoration: none;
}
 .author{
    align-self: center;
 }

 /**TABEL HALAMAN LAPORAN BERITA */
 .myTable{
    font-family: 'Montserrat';
    border-collapse: collapse;
    width: 100%;
 
 }
 .myTable td, .myTable th{

    padding: 8px;
 }
 .myTable td img{
    width: 100px;
    height: 100px;
 }
 .myTable tr:nth-child(even) {
     background-color: #f2f2f2;
 }

 .myTable tr:hover {
     background-color: #ddd;
 }
 .myTable th{
    padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #368EFF;
        color: white;
 }
 /**Untuk Head halaman invite author */
 .head-invite{
    display: flex;
    margin-bottom: 10px;
 }
 .head-invite .penulis{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
 }
 .head-invite .add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00B6FF;
    width: 5%;
    margin-right: 0px;
    font-weight: 700;
    height: 40px;
    border-radius: 10px;
 }
 .head-invite .add:hover{
    background-color: #89c0d6;
 }

 /**Table untuk halaman invite author */

 #myTable{
    border-collapse: collapse;
    width: 100%;
 }
 #myTable td,
 #myTable th {
     padding: 8px;
 }

 #myTable tr:hover {
     background-color: #ddd;
 }

 #myTable th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #368EFF;
     color: white;
 }

 /**Untuk form add author */
 form {
    margin: 10px;
 }
 form label{
    font-size: large;
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
 }

form select{
    
        /* Green */
        border: none;
        background-color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        color: #24252a;
        font-weight: 600;
        margin-bottom: 20px;
        border: 1px solid #eaeaea;
}
form post{
    
    align-self: center;
}
 input{
    width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: flex;
        
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
 }
.judul{
    width: 100%;
}
#judul{ 
    width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: flex;
        
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
 }
 input[type=submit] {
    justify-content: center;
     width: 30%;
     background-color: #00B6FF;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 /**TABLE & HALAMAN ANALITIK IKLAN */
  #TableSaya {
      border-collapse: collapse;
      width: 100%;
      background-color: #fff;

  }

  #TableSaya td,
  #TableSaya th {
      padding: 8px;
  }

  #TableSaya tr:hover {
      background-color: #ddd;
  }

  #TableSaya th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #368EFF;
      color: white;

  }
.tambah{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.table{
    margin-bottom: 20px;
    width: 100%;
}
.tambah .add{
        width: 5%;
        justify-content: center;
        align-items: center;
        background-color: #00B6FF;
        margin-right: 0px;
        font-weight: 700;
        height: 40px;
        border-radius: 10px;
        margin-left: 20px;
}


/** untuk halaman analitik keuangan
 */

 table td a{
    color: #368EFF;
    font-size: 16px;
 }

 /**Modal */
 .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     padding-top: 100px;
     /* Location of the box */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
 }

 /* Modal Content */
 .modal-content {
     background-color: #fefefe;
     margin: auto;
     padding: 20px;
     border: 1px solid #888;
     width: 30%;
 }
 .modal-header {
     padding: 2px 16px;
     background-color: #5cb85c;
     color: white;
     margin-bottom: 10px;
 }

 .modal-body {
     padding: 2px 16px;
 }

 /* The Close Button */
 .close {
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }

 .close:hover,
 .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
 }

 /**pengiklan */
 #Pengiklan {
     font-family: Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 50%;
 }

 #Pengiklan td,
 #Pengiklan th {
     border: 1px solid #ddd;
     padding: 8px;
     
 }

 #Pengiklan tr:nth-child(even) {
     background-color: #f2f2f2;
 }

 #Pengiklan tr:hover {
     background-color: #ddd;
 }

 #Pengiklan th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #368EFF;
     color: white;
     width: 30%;

 }

 /**invoice */
             			.invoice-box {
             			    max-width: 800px;
             			    margin: auto;
             			    padding: 30px;
             			    border: 1px solid #eee;
             			    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
             			    font-size: 16px;
             			    line-height: 24px;
             			    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
             			    color: #555;
             			}
            
             			.invoice-box table {
             			    width: 100%;
             			    line-height: inherit;
             			    text-align: left;
             			}
            
             			.invoice-box table td {
             			    padding: 5px;
             			    vertical-align: top;
             			}
            
             			.invoice-box table tr td:nth-child(2) {
             			    text-align: right;
             			}
            
             			.invoice-box table tr.top table td {
             			    padding-bottom: 20px;
             			}
            
             			.invoice-box table tr.top table td.title {
             			    font-size: 45px;
             			    line-height: 45px;
             			    color: #333;
             			}
            
             			.invoice-box table tr.information table td {
             			    padding-bottom: 40px;
             			}
            
             			.invoice-box table tr.heading td {
             			    background: #eee;
             			    border-bottom: 1px solid #ddd;
             			    font-weight: bold;
             			}
            
             			.invoice-box table tr.details td {
             			    padding-bottom: 20px;
             			}
            
             			.invoice-box table tr.item td {
             			    border-bottom: 1px solid #eee;
             			}
            
             			.invoice-box table tr.item.last td {
             			    border-bottom: none;
             			}
            
             			.invoice-box table tr.total td:nth-child(2) {
             			    border-top: 2px solid #eee;
             			    font-weight: bold;
             			}
            
             			@media only screen and (max-width: 600px) {
             			    .invoice-box table tr.top table td {
             			        width: 100%;
             			        display: block;
             			        text-align: center;
             			    }
            
             			    .invoice-box table tr.information table td {
             			        width: 100%;
             			        display: block;
             			        text-align: center;
             			    }
             			}
            
             			/** RTL **/
             			.invoice-box.rtl {
             			    direction: rtl;
             			    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
             			}
            
             			.invoice-box.rtl table {
             			    text-align: right;
             			}
            
             			.invoice-box.rtl table tr td:nth-child(2) {
             			    text-align: left;
             			}
                         #btn {
                            background-color: DodgerBlue;
                            border: none;
                            color: white;
                            padding: 12px 30px;
                            cursor: pointer;
                            font-size: 20px;
                        }

                        #btn:hover{
                            background-color: RoyalBlue;
                        }

                        .text-danger{--bs-text-opacity:1;color:rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important}
  
                        .alert.success {background-color: #04AA6D;}
                       .pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd}.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#23527c;background-color:#eee;border-color:#ddd}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}
                       .pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7}.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}